html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px;
}

body {
    font-family: Arial, Helvetica, sans-serif, "宋体";
    color: #333;
    background: #f0f0f0;
    font-size: 12px;
}

#body-wrapper {
    background: url('../images/bg-radial-gradient.gif') fixed 230px top no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif, "宋体";
    color: #222;
    font-weight: bold;
}

h1 {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: -1000px;
}

h2 {
    font-size: 26px;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 17px;
    padding: 0 0 10px 0;
}

h4 {
    font-size: 16px;
    padding: 0 0 5px 0;
}

h5 {
    font-size: 14px;
    padding: 0 0 5px 0;
}

h6 {
    font-size: 12px;
    padding: 0 0 5px 0;
}

a {
    color: #0000ee;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:active {
    color: #777;
}

a:focus {
    outline: 1px;
}

strong {
    font-weight: bold;
    color: #333;
}

small {
    font-size: 0.85em;
}

pre {
    font-family: monospace;
}

p {
    padding: 5px 0 10px 0;
    line-height: 1.6em;
}

.main_content_table .table_line {
    border-bottom: #cccccc solid 1px;
}

.main_content_table {
    width: 98%;
    margin: 8px;
    border-left: #cccccc solid 1px;
    border-top: #cccccc solid 1px;
    border-right: #cccccc solid 1px;
    overflow: visible;
}

.div_bottom {
    width: 100%;
    float: left;
    clear:both;
    border-bottom: #cccccc solid 1px;
}

.main_content_td_gray {
    width: 14%;
    float: left;
    border-right: #cccccc solid 1px;
    padding: 8px 0;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
    padding-right: 5px;
}

.main_content_td_white {
    width: 33%;
    float: left;
    padding-top: 8px;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
    size: 20;
}

.main_content_td_whitelast {
    width: 33%;
    float: left;
    padding-top: 8px;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
    size: 20;
}

.main_content_td_graylast {
    width: 14%;
    float: left;
    border-right: #cccccc solid 1px;
    border-left: #cccccc solid 1px;
    padding: 8px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_textarea {
    width: 36%;
    float: left;
    padding-top: 8px;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.content-box {
    border: 1px solid #ccc;
    margin: 0 0 20px 0;
    background: #fff;
}

.content-box-content {
    padding: 20px;
    font-size: 13px;
    border-top: 1px solid #ccc;
}

.clear {
    clear: both;
}

.span_button {
    padding: 10px 10px;
}

a {
    text-decoration: none;
}

.none-border-170 {
    width: 170px;
    border: 0;
}

.main_content_td_long {
    width: 450px;
    text-align: center;
}

.main_public_reserve_funds {
    width: 15.7%;
    float: left;
    border-right: #cccccc solid 1px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_gray_small {
    width: 10%;
    float: left;
    border-right: #cccccc solid 1px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_white_small {
    width: 22%;
    float: left;
    padding: 3px 0;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.main_content_td_graylast_small {
    width: 10%;
    float: left;
    border-right: #cccccc solid 1px;
    border-left: #cccccc solid 1px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_whitelast_small {
    width: 22%;
    float: left;
    padding-top: 8px;
    padding: 3px 0;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.main_content_td_whitelast_small6 {
    width: 20%;
    float: left;
    padding-top: 8px;
    padding: 3px 0;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.main_content_td_gray_small4 {
    width: 9%;
    float: left;
    border-right: #cccccc solid 1px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_white_small4 {
    width: 14%;
    float: left;
    padding: 3px 0;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.main_content_td_graylast_small4 {
    width: 9%;
    float: left;
    border-right: #cccccc solid 1px;
    border-left: #cccccc solid 1px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_whitelast_small4 {
    width: 14%;
    float: left;
    padding-top: 8px;
    padding: 3px 0;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.main_content_td_gray_small5 {
    width: 8%;
    float: left;
    border-right: #cccccc solid 1px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_white_small5 {
    width: 10.5%;
    float: left;
    padding: 3px 0;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.main_content_td_graylast_small5 {
    width: 8%;
    float: left;
    border-right: #cccccc solid 1px;
    border-left: #cccccc solid 1px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_whitelast_small5 {
    width: 10.5%;
    float: left;
    padding-top: 8px;
    padding: 3px 0;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.textareastyle {
    border: #cccccc solid 1px;
    padding: 3px 0;
    margin: 0;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    resize: none;
}

.linkbutton_bg {
    float: right;
    border-right: #cccccc solid 0px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
}

.linkbutton_bg_left {
    border-left: #cccccc solid 0px;
    padding: 8px 10px;
    line-height: 24px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
}

.puhui-textbox {
    position: relative;
    border: 1px solid #D4D4D4;
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    line-height: 20px;
    width: 150px;
}

.main_content_td_gray_small2 {
    width: 14%;
    float: left;
    border-right: #cccccc solid 1px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_white_small2 {
    width: 32%;
    float: left;
    padding: 3px 0;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.main_content_td_graylast_small2 {
    width: 14%;
    float: left;
    border-right: #cccccc solid 1px;
    border-left: #cccccc solid 1px;
    padding: 3px 5px;
    line-height: 24px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    background-color: #F3F3F3;
}

.main_content_td_whitelast_small2 {
    width: 32%;
    float: left;
    padding-top: 8px;
    padding: 3px 0;
    padding-left: 3px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}


